* {
    box-sizing: border-box;
}

#entry {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 2rem;
}

.balance-container {
    font-weight: 900;
}

.expense {
    color: red
}

.profit {
    color: green
}

form {
    border: 1px solid black;
    padding: 1rem;
}

.profit-expense-container {
    display: flex;
    gap: 2rem;
}

ul,
button {
    margin: 0;
    padding: 0;
}

.transactionHistory li {
    display: flex;
    gap: .5rem;
}

.span-amount {
    display: inline-block;
    min-width: 3rem;
    min-height: 1rem;
}